@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222, 33%, 6%;
    --card: 0 0% 100%;
    --card-foreground: 222, 33%, 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 222, 33%, 6%;
    --primary: 228, 96%, 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210, 29%, 97%;
    --secondary-foreground: 222, 33%, 6%;
    --muted: 210, 29%, 97%;
    --muted-foreground: 222, 11%, 36%;
    --accent: 210, 29%, 97%;
    --accent-foreground: 222, 33%, 6%;
    --destructive: 349, 78%, 49%;
    --destructive-foreground: 0 0% 100%;
    --border: 223, 14%, 90%;
    --input: 223, 14%, 90%;
    --ring: 222, 33%, 6%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --prime-darker: 228 64 24;
    --prime-dark: 228 64 40;
    --prime-base: 228 96 60;
    --prime-light: 220 100 88;
    --prime-lighter: 222 100 96;

    --blue-darker: 228 64 24;
    --blue-dark: 228 64 40;
    --blue-base: 228 96 60;
    --blue-light: 220 100 88;
    --blue-lighter: 222 100 96;
    --orange-darker: 24 80 24;
    --orange-dark: 24 90 40;
    --orange-base: 24 88 56;
    --orange-light: 24 100 88;
    --orange-lighter: 25 90 96;
    --red-darker: 348 78 25;
    --red-dark: 349 72 40;
    --red-base: 349 78 49;
    --red-light: 348 76 88;
    --red-lighter: 349 80 96;
    --green-darker: 158 63 24;
    --green-dark: 158 56 40;
    --green-base: 158 56 50;
    --green-light: 156 69 88;
    --green-lighter: 158 52 96;
    --yellow-darker: 30 76 40;
    --yellow-dark: 37 64 40;
    --yellow-base: 37 87 60;
    --yellow-light: 37 90 84;
    --yellow-lighter: 37 90 96;
    --purple-darker: 256 64 24;
    --purple-dark: 256 56 48;
    --purple-base: 256 88 60;
    --purple-light: 248 100 88;
    --purple-lighter: 249 100 96;
    --pink-darker: 294 76 24;
    --pink-dark: 228 66 40;
    --pink-base: 294 86 64;
    --pink-light: 294 100 88;
    --pink-lighter: 294 100 96;
    --teal-darker: 204 64 24;
    --teal-dark: 196 70 40;
    --teal-base: 196 80 56;
    --teal-light: 196 100 88;
    --teal-lighter: 195 100 96;
    --neutral-900: 222 33 6;
    --neutral-800: 225 21 11;
    --neutral-700: 226 17 15;
    --neutral-600: 223 12 22;
    --neutral-500: 222 11 36;
    --neutral-400: 220 8 56;
    --neutral-300: 218 9 82;
    --neutral-200: 223 14 90;
    --neutral-100: 210 29 97;
    --neutral-0: 0 0 100;

    --bg-strong-900: 222 33 6;
    --bg-surface-700: 226 17 15;
    --bg-soft-200: 223 14 90;
    --bg-weak-100: 210 29 97;
    --bg-white-0: 0 0 100;

    --text-main-900: 222 33 6;
    --text-sub-500: 222 11 36;
    --text-soft-400: 220 8 56;
    --text-disabled-300: 218 9 82;
    --text-white-0: 0 0 100;

    --stroke-strong-900: 222 33 6;
    --stroke-sub-300: 218 9 82;
    --stroke-soft-200: 223 14 90;
    --stroke-disabled-100: 210 29 97;
    --stroke-white-0: 0 0 100;

    --icon-strong-900: 222 33 6;
    --icon-sub-500: 222 11 36;
    --icon-soft-400: 220 8 56;
    --icon-disabled-300: 218 9 82;
    --icon-white-0: 0 0 100;

    --context-warning: 24 88 56;
    --context-success: 158 56 50;
    --context-information: 228 96 60;
    --context-away: 37 87 60;
    --context-error: 349 78 49;
    --context-feature: 256 88 60;
    --context-neutral: 220 8 56;
    --context-verified: 196 80 56;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 160 60% 45%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
    
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .H1 {
    @apply text-[56px] leading-[64px] tracking-[-.050em] font-medium;
  }
  .H2 {
    @apply text-[48px] leading-[56px] tracking-[-.045em] font-medium;
  }
  .H3 {
    @apply text-[40px] leading-[48px] tracking-[-.030em] font-medium;
  }
  .H4 {
    @apply text-[32px] leading-[40px] tracking-[-.012em] font-medium;
  }
  .H5 {
    @apply text-[24px] leading-[32px] tracking-[-.0050em] font-medium;
  }
  .H6 {
    @apply text-[20px] leading-[28px]  font-medium;
  }



  /* Labels */

  .Label-XL {
    @apply text-[24px] leading-[32px] tracking-[-.050em] font-medium;
  }
  .Label-L {
    @apply text-[18px] leading-[24px] tracking-[-.050em] font-medium;
  }
  .Label-M {
    @apply text-[16px] leading-[24px] tracking-[-.035em] font-medium;
  }
  .Label-S {
    @apply text-[14px] leading-[20px] tracking-[-.020em] font-medium;
  }
  .Label-XS {
    @apply text-[12px] leading-[16px]  font-medium;
  }

  /* Paragraphs */

  .Paragraph-XL {
    @apply text-[24px] leading-[32px] tracking-[-.015em] ;
  }
  .Paragraph-L {
    @apply text-[18px] leading-[24px] tracking-[-.015em] ;
  }
  .Paragraph-M {
    @apply text-[16px] leading-[24px] tracking-[-.011em] ;
  }
  .Paragraph-S {
    @apply text-[14px] leading-[20px] tracking-[-.006em] ;
  }
  .Paragraph-XS {
    @apply text-[12px] leading-[16px] ;
  }

 /* Subheadings */

  
  .Subheading-M {
    @apply text-[16px] leading-[24px] tracking-[-.050em] font-medium;
  }
  .Subheading-S {
    @apply text-[14px] leading-[20px] tracking-[-.050em] font-medium;
  }
  .Subheading-XS {
    @apply text-[12px] leading-[16px] tracking-[-.035em] font-medium;
  }
  .Subheading-XXS {
    @apply text-[11px] leading-[12px] tracking-[-.015em] font-medium;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
}

.tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
}

.section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
}

.section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
}

.gradient-background {
    background: linear-gradient(to right, #DD7DDF, #E1CD86, #BBCB92, #71C2EF, #3BFFFF, #DD7DDF);
    background-clip: border-box;
    -webkit-background-clip: border-box;
    color: white; /* Ensure text is visible on the gradient */
}

.section-heading {
    @apply max-w-[540px] mx-auto;
}

}
